body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
    justify-content: center;
  align-items: center;
}

header {
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

.section {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto 5px;
}

.caption {
  border: 2px solid #ff0000;
  padding: 12px;
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  color: black;
  font-size: 15px;
}

.caption p {
  margin: 5px 0;
}
.card {
  border: none;
  background: none;
}

img.jersey-img {
  width: 100px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

img.jersey-img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #aaa;
}
.messi-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1e88e5;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.messi-circle:hover {
  transform: scale(1.05);
}